<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{{ assets('librairies/bootstrap/css/bootstrap.min.css') }}">
    <style>
        {% block styles %}

        {% endblock %}
    </style>
</head>
<body>
    <div class="container-fluid" >
        {% block content %}

        {% endblock %}
    </div>
</body>
</html>