{% extends "layouts/default.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row text-center text-opacity-100">
        <h3>Bienvenue dans {{ name }}</h3>
    </div>
   <div data-rich-type="markup" data-path="README.md" class="blob-viewer">
<div class="file-content md">
<h1 dir="auto" data-sourcepos="2:1-2:21">
<a aria-hidden="true" href="#atpro-mvc-framework" class="anchor" id="user-content-atpro-mvc-framework"></a>ATPRO-MVC FRAMEWORK</h1>
<p dir="auto" data-sourcepos="4:1-7:92">ATPRO MVC est une framework php Open Source. Il utilise l'orienté objet en php pour permettre une simple utilisation.
il utilise comment moteur de template Twig template engine et pour gestionnaire de base de donnée Phinx migration manager.
<br/>
<a data-canonical-src="https://logotypemaker.com/logo-previews/lr_ckthds49p0002wietpkcypqdm/logo.png" rel="nofollow noreferrer noopener" href="https://user-content.gitlab-static.net/ac292414e8b764ec6b6212bbd6d18c5a4f7808c9/68747470733a2f2f6c6f676f747970656d616b65722e636f6d2f6c6f676f2d70726576696577732f6c725f636b746864733439703030303277696574706b63797071646d2f6c6f676f2e706e67" class="no-attachment-icon"><img class="js-lazy-loaded qa-js-lazy-loaded" data-canonical-src="https://logotypemaker.com/logo-previews/lr_ckthds49p0002wietpkcypqdm/logo.png" alt="Image text" src="https://user-content.gitlab-static.net/ac292414e8b764ec6b6212bbd6d18c5a4f7808c9/68747470733a2f2f6c6f676f747970656d616b65722e636f6d2f6c6f676f2d70726576696577732f6c725f636b746864733439703030303277696574706b63797071646d2f6c6f676f2e706e67" loading="lazy"></a></p>
<h2 dir="auto" data-sourcepos="9:1-9:16">
<a aria-hidden="true" href="#pr%C3%A9sentation" class="anchor" id="user-content-présentation"></a>Présentation</h2>
<h3 dir="auto" data-sourcepos="10:1-10:30">
<a aria-hidden="true" href="#architectures-des-dossiers" class="anchor" id="user-content-architectures-des-dossiers"></a>Architectures des dossiers</h3>
<p dir="auto" data-sourcepos="11:1-11:121"><a data-canonical-src="https://github.com/as199/Recipe-atpro-mvc-framework/blob/master/ATPRO-MVC-IMAGE/architectures.png?raw=true" rel="nofollow noreferrer noopener" href="https://user-content.gitlab-static.net/ee71fec69f5c606e91c349348dc817aede00a5db/68747470733a2f2f6769746875622e636f6d2f61733139392f5265636970652d617470726f2d6d76632d6672616d65776f726b2f626c6f622f6d61737465722f415450524f2d4d56432d494d4147452f617263686974656374757265732e706e673f7261773d74727565" class="no-attachment-icon"><img class="js-lazy-loaded qa-js-lazy-loaded" data-canonical-src="https://github.com/as199/Recipe-atpro-mvc-framework/blob/master/ATPRO-MVC-IMAGE/architectures.png?raw=true" alt="Image text" src="https://user-content.gitlab-static.net/ee71fec69f5c606e91c349348dc817aede00a5db/68747470733a2f2f6769746875622e636f6d2f61733139392f5265636970652d617470726f2d6d76632d6672616d65776f726b2f626c6f622f6d61737465722f415450524f2d4d56432d494d4147452f617263686974656374757265732e706e673f7261773d74727565" loading="lazy"></a></p>
<h3 dir="auto" data-sourcepos="13:1-13:17">
<a aria-hidden="true" href="#le-dossier-db" class="anchor" id="user-content-le-dossier-db"></a>le dossier db</h3>
<hr data-sourcepos="14:1-14:3">
<p dir="auto" data-sourcepos="15:1-16:130">le dossier <strong>db</strong> contient les migrations et les seeds générer avec <strong>PHINX</strong> pour la creation et le remplissage en masse des Tables de la base de donnée.
Pour le creation de migration et de seeds veuillez vous référer à la documentation au niveau de <strong><a rel="nofollow noreferrer noopener" href="https://phinx.org/">Phinx</a></strong></p>
<h3 dir="auto" data-sourcepos="18:1-18:22">
<a aria-hidden="true" href="#le-dossier-helpers" class="anchor" id="user-content-le-dossier-helpers"></a>le dossier helpers</h3>
<hr data-sourcepos="19:1-19:3">
<p dir="auto" data-sourcepos="20:1-20:95">le dossier <strong>helpers</strong> contient les extensions de Twig et les middlewares de notre application.</p>
<h3 dir="auto" data-sourcepos="22:1-22:21">
<a aria-hidden="true" href="#le-dossier-public" class="anchor" id="user-content-le-dossier-public"></a>le dossier public</h3>
<hr data-sourcepos="23:1-23:3">
<p dir="auto" data-sourcepos="24:1-24:116">le dossier <strong>public</strong> contient le ficher d'entré de notre application et contient tous les assets(css, js, etc ...)</p>
<h3 dir="auto" data-sourcepos="26:1-26:21">
<a aria-hidden="true" href="#le-dossier-routes" class="anchor" id="user-content-le-dossier-routes"></a>le dossier routes</h3>
<hr data-sourcepos="27:1-27:3">
<p dir="auto" data-sourcepos="28:1-28:75">le dossier <strong>routes</strong> contient deux fichiers : <strong>web.php</strong> et <strong>api.php</strong> :</p>
<p dir="auto" data-sourcepos="30:1-30:68">Le <strong>web.php</strong> contiendras tous les routes de notre web application.</p>
<p dir="auto" data-sourcepos="32:1-32:68">Le <strong>api.php</strong> contiendras tous les routes de notre api application.</p>
<hr data-sourcepos="33:1-33:3">
<h3 dir="auto" data-sourcepos="34:1-34:18">
<a aria-hidden="true" href="#le-dossier-src" class="anchor" id="user-content-le-dossier-src"></a>le dossier src</h3>
<hr data-sourcepos="35:1-35:3">
<p dir="auto" data-sourcepos="36:1-36:90">le dossier <strong>src</strong> contient un dossier <strong>Entity</strong> ,<strong>ApiController</strong> et <strong>WebController</strong>:</p>
<p dir="auto" data-sourcepos="38:1-38:101"><strong>A. le dossier Entity</strong>: ce dossier contiendra l'ensemble des entités(models) de notre application.</p>
<p dir="auto" data-sourcepos="40:1-40:119">NB: chaque entité doit obligatoirement étendre de l'<strong>AbstractController</strong> et implementer sa méthode <strong>getAccess</strong> .</p>
<hr data-sourcepos="42:1-42:3">
<p dir="auto" data-sourcepos="43:1-43:143"><strong>B. le dossier ApiController et WebController</strong>: contiendrons respectivement les controllers de notre <strong>API</strong> ou de notre <strong>web</strong> application.</p>
<hr data-sourcepos="44:1-45:0">
<h3 dir="auto" data-sourcepos="46:1-46:20">
<a aria-hidden="true" href="#le-dossier-views" class="anchor" id="user-content-le-dossier-views"></a>le dossier views</h3>
<p dir="auto" data-sourcepos="47:1-47:130">il contiendra l'ensemble des vue de notre application et contient un dossier <strong>layouts</strong> qui contiendrons nos différents layouts.</p>
<p dir="auto" data-sourcepos="49:1-49:56">**NB: ** Toutes nos vue aurons comme extension <strong>.twig</strong></p>
<hr data-sourcepos="51:1-51:3">
<h3 dir="auto" data-sourcepos="52:1-52:19">
<a aria-hidden="true" href="#le-fichier-env" class="anchor" id="user-content-le-fichier-env"></a>le fichier .env</h3>
<p dir="auto" data-sourcepos="54:1-54:71">il contient l'ensemble des variables de configuration de l'application.</p>
<p dir="auto" data-sourcepos="56:1-56:159">** les variables de connection à la base de donnée**, <strong>la clé secrete poru la génération du token</strong> et <strong>le token TTL</strong> pour la durée de vie du token.</p>
</div>

</div>

{% endblock %}